* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Inter, Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: .05rem;
}

html, body {
    min-height: 100%;
}

#app {
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 85%;
    background-color: #161714;
    color: #dedede;
}

i {
    color: #dedede;
}

button, a {
    cursor: pointer;
}